/* raleway-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/raleway-v28-latin-300.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("../fonts/raleway-v28-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("../fonts/raleway-v28-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/raleway-v28-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("../fonts/raleway-v28-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/raleway-v28-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("../fonts/raleway-v28-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/raleway-v28-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("../fonts/raleway-v28-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
            url("../fonts/source-sans-pro-v21-latin-regular.woff")
            format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
